body{
    margin:0%;
    padding:0%;
    color:white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
background-color: skyblue;
/* width:50%;
height:50%; */
}

.wrapper{
    position:absolute;
    top:45%;
    left:50%;
   padding: 15px;
   background: black;
   border-radius: 5px;
   box-shadow:rgb(38,57,77)0px 20px 30px -10px;
/* width:20%;
height:50%; */
    transform: translate(-50%,-50%);
}
input{
    outline:none;
    border:none;
    padding:5px;

}
button{
    color: rgb(21, 2, 2);
    padding:10px;
   border:2px solid white;
   display:block;
    margin-top:10%;
    cursor:pointer;
}
@media screen and (max-width:510px) {
    body{
      width:50%;
      height:50%;

      
    }
    box-shadow{
        width:50%


    }


}